<section class="uk-width-1-2@s">
  <div class="uk-card uk-card-small uk-card-default">
      <div class="uk-card-header">
        <h3>Information</h3>
      </div>
      <div class="uk-card-body">
          <p>We appreciate you taking the time to visit our store today!  If you have any questions about any of our products, please feel free to contact us.  You may use the form to the right or you can get in touch using the information below.</p>
          <p><span class="uk-text-bold uk-text-emphasis">{{ SiteTitle }}</span></p>
          <p>
            {{ Address1 }},<br>
            {{ Address2 }},<br>
            {{ Address3 }}
          </p>
          <p><span class="uk-text-bold uk-text-emphasis">Freephone:</span> <a href="#" class="uk-link-text">{{ SiteNumber }}</a></p>
          <p><span class="uk-text-bold uk-text-emphasis">Email:</span> <a href="#" class="uk-link-text">{{ SiteEmail }}</a></p>
      </div>
  </div>
</section>