{#
/**
 * Block Name: Cover block
 *
 * This is the template that displays the cover block.
 */
#}

{% if fields.content_alignment == 'Left' %}
{% set alignment_class, shadow_class = 'rmcc-content-block-left', 'rmcc-box-shadow-right' %}
{% elseif fields.content_alignment == 'Right' %}
{% set alignment_class, shadow_class = 'rmcc-content-block-right', 'rmcc-box-shadow-left' %}
{% endif %}

{% if fields.if_content == 'Image' %}
{% set single_image_toggle_attr = 'data-uk-lightbox="toggle:a.content-block-single-image-toggle"' %}
{% endif %}

{% if is_preview %}
<link rel='stylesheet' id='uikit-css'  href='http://solarisblinds.wp/wp-content/themes/solaris-theme/assets/css/base.css' type='text/css' media='all' />
<script type='text/javascript' src='http://solarisblinds.wp/wp-content/themes/solaris-theme/assets/js/bundles/bundle.js'></script>
{% endif %}

<div id="{% if fields.if_block_id == 'Yes' %}{{ fields.block_id }}{% else %}content-{{ block.id }}{% endif %}" class="uk-background-muted {{ block.className }}" {{ single_image_toggle_attr }}>

  <!-- {{ block.title }} -->
  <div class="uk-section uk-section-muted">
    <div class="{{alignment_class}} uk-position-relative">
      <div class="uk-container uk-container-large">
          <div class="uk-child-width-1-2@m uk-flex-middle uk-grid-large" uk-grid>
            
            {% if fields.if_content == 'Image' %}
            <div>
              <div class="uk-inline-clip uk-transition-toggle uk-light {{shadow_class}}">
                <img class="uk-position-z-index uk-height-max-large rmcc-object-fit" data-src="{{ Image(fields.content_image).src('solaris-theme-content-block') }}" alt="{{ Image(fields.content_image).alt }}" alt="{{ Image(fields.content_image).alt }}" uk-img src="{{ Image(fields.content_image).src('solaris-theme-content-block') }}">
                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
                  <div data-uk-margin class="uk-transition-slide-bottom-small">
                    <span data-uk-icon="icon: search; ratio: 1.3"></span>
                  </div>
                </div>
                <a data-caption="{{ fields.content_title }}" class="content-block-single-image-toggle uk-position-cover" title="Image: {{ fields.content_title }}" href="{{ Image(fields.content_image).src('solaris-theme-content-block') }}"></a>
              </div>        
            </div>
            {% elseif fields.if_content == 'Lightgallery' %}
            <div>
              <div class="uk-inline-clip uk-transition-toggle uk-light {{shadow_class}}">
                <img class="uk-position-z-index uk-height-max-large rmcc-object-fit" data-src="{{ Image(fields.content_lightgallery_image).src('solaris-theme-content-block') }}" alt="{{ Image(fields.content_lightgallery_image).alt }}" uk-img src="{{ Image(fields.content_lightgallery_image).src('solaris-theme-content-block') }}">
                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
                  <div data-uk-margin class="uk-transition-slide-bottom-small">
                    <span data-uk-icon="icon: search; ratio: 1.3"></span>
                  </div>
                </div>
                <script type="text/javascript">

                  jQuery(document).ready(function() {
                    jQuery('#lightGallery-{{ fields.block_id }}').lightGallery();
                    thumbnail:true;
                    subHtmlSelectorRelative: true;
                    hash: true;
                    share: true;
                    facebook: true;
                    jQuery('#launchLightGallery-{{ fields.block_id }}').click(function(){
                        jQuery('#firstImage-{{ fields.block_id }}').trigger('click');
                    })
                  });
                  
                </script>
                <a id="launchLightGallery-{{ fields.block_id }}" data-caption="{{ fields.content_title }}" title="Image: {{ fields.content_title }}" class="uk-position-cover"></a>
              </div>        
            </div>

            <div id="lightGallery-{{ fields.block_id }}" hidden>
            
              {% for image in fields.content_lightgallery %}
              
                {% if loop.first %}
                
                  <a data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1" data-facebook-share-url="#" data-twitter-share-url="#" data-googleplus-share-url="#" data-pinterest-share-url="#" id="firstImage-{{ fields.block_id }}" href="{{ Image(image).src('solaris-theme-lg-img') }}" data-sub-html=".content-caption-{{ image.id }}" title="{{ image.title }}">
                    <img src="{{ Image(image).src('solaris-theme-lg-thumb') }}" alt="{{ image.alt }}" />
                    <div class="content-caption-{{ image.id }} uk-light">
                      <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom caption">{{ image.caption }}</h3>
                      <p class="title ">{{ image.title }}</p>
                    </div>
                  </a>
                
                {% else %}
                  
                  <a data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1" data-facebook-share-url="#" data-twitter-share-url="#" data-googleplus-share-url="#" data-pinterest-share-url="#" href="{{ Image(image).src('solaris-theme-lg-img') }}" data-sub-html=".content-caption-{{ image.id }}" title="{{ image.title }}" alt="{{ image.alt }}">
                    <img src="{{ Image(image).src('solaris-theme-lg-thumb') }}" />
                    <div class="content-caption-{{ image.id }} uk-light">
                      <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom caption">{{ image.caption }}</h3>
                      <p class="title">{{ image.title }}</p>
                    </div>
                  </a>
                
                {% endif %}
              
              {% endfor %}
            
            </div>
            {% elseif fields.if_content == 'Video' %}
            <div>
              
              <div class="uk-inline-clip uk-light {{shadow_class}}">
                <a href="#modal-media-youtube" title="Video: {{ fields.content_title }}" uk-toggle>
                <img class="uk-position-z-index {{shadow_class}} uk-height-max-large rmcc-object-fit" data-src="{{ Image(fields.content_video_image).src('solaris-theme-content-block') }}" alt="{{ Image(fields.content_video_image).alt }}" uk-img src="{{ Image(fields.content_video_image).src('solaris-theme-content-block') }}">
                <div class="uk-position-cover  uk-flex uk-flex-center uk-flex-middle">
                  <div data-uk-margin>
                    <span class="rmcc-play-bg" data-uk-icon="icon: play; ratio: 3"></span>
                  </div>
                </div>
                </a>
              </div> 
              
              <div id="modal-media-youtube" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                  <button class="uk-modal-close-outside" type="button" uk-close></button>
                  <iframe src="{{ fields.content_video_link }}" width="1200" height="800" frameborder="0" uk-video></iframe>
                </div>
              </div>    
              
            </div>
            {% elseif fields.if_content == 'Gallery' %}
            <div>
              <div class="uk-position-relative uk-visible-toggle uk-light {{shadow_class}}" tabindex="-1" uk-slider>
              
                <ul class="uk-slider-items uk-child-width-1-2">
                  
                  {% for image in fields.content_gallery %}
                  
                    <li>
                        <div class="uk-panel">
                            <img class="uk-height-max-large rmcc-object-fit" data-src="{{ Image(image).src('solaris-theme-content-block-gallery-image') }}" alt="{{ Image(image).alt }}" uk-img>
                        </div>
                    </li>
                    
                  {% endfor %}
                
                </ul>
              
                  <a class="uk-position-center-left uk-position-small rmcc-nav-bg uk-hidden-hover" title="Left" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                  <a class="uk-position-center-right uk-position-small rmcc-nav-bg uk-hidden-hover" title="Right" href="#" uk-slidenav-next uk-slider-item="next"></a>
                  
              </div>
            </div>
            {% endif %}

            
            <div class="{% if fields.content_alignment == 'Left' %}uk-flex-first@s{% endif %}">
              <div id="ConservatoryBlinds" class="content uk-position-relative uk-position-z-index">
                <h2>{{ fields.content_title }}</h2>
                <hr class="uk-divider-small">
                {{ fields.content_description }}
              </div>
            </div>
            
          </div>
      </div>
    </div>
  </div>
  <!-- /{{ block.title }} -->
  
</div>