<!DOCTYPE html>
<html {{site.language_attributes}}>
<head>
<meta charset="{{site.charset}}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" as="font" type="font/woff2" href="/wp-content/themes/solaris-theme/assets/fonts/lato-v16-latin-regular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/wp-content/themes/solaris-theme/assets/fonts/lato-v16-latin-italic.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/wp-content/themes/solaris-theme/assets/fonts/lato-v16-latin-700.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/wp-content/themes/solaris-theme/assets/fonts/lato-v16-latin-900.woff2" crossorigin>
{{ function('wp_head') -}}
<style>
  .preloader {
    align-items: center;
    pointer-events: none;
    background: rgb(255, 255, 255);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.5s linear;
    width: 100%;
    z-index: 9999;
  }
  .page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    text-align: center;
    color: #777;
  }
  .loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
  }
  
  .loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  .loader-ellips__dot:nth-child(1),
  .loader-ellips__dot:nth-child(2) {
    left: 0;
  }
  .loader-ellips__dot:nth-child(3) { left: 1.5em; }
  .loader-ellips__dot:nth-child(4) { left: 3em; }
  
  @keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
  }
  
  @keyframes slide {
    to { transform: translateX(1.5em) }
  }
  
  .loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
  }
  
  .loader-ellips__dot:nth-child(2),
  .loader-ellips__dot:nth-child(3) {
    animation-name: slide;
  }
  
  .loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
  }
  .uk-offcanvas-bar {
      width: 290px;
  }
</style>
  </head>
  <div class="preloader" style="opacity:1;">
    <img src="/wp-content/themes/solaris-theme/assets/img/spinner.svg" alt="spinner">
  </div>
  <body class="{{ body_class }} uk-background-muted" data-template="base.twig">

    <div class="rmcc-wrapper" id="site-wrapper">

    {% block header_block %}
      {% include 'header.twig' %}
    {% endblock %}
      
    {% block content %}
      Sorry, Nothing to Display!!
    {% endblock %}

    {% block footer_block %}
      {% include 'footer.twig' %}
    {% endblock %}

    </div>
    
    {% if fields.if_quick_call_enquiry == 'Yes' %}
      {% include 'quick-call.twig' %}
    {% endif %}
    
    {{ function('wp_footer') }}
    
    <script>
      const preloader = document.querySelector('.preloader');
      
      const fadeEffect = setInterval(() => {
        // if we don't set opacity 1 in CSS, then   //it will be equaled to "", that's why we   // check it
        if (!preloader.style.opacity) {
          preloader.style.opacity = 1;
        }
        if (preloader.style.opacity > 0) {
          preloader.style.opacity -= 0.1;
        } else {
          clearInterval(fadeEffect);
        }
      }, 200);
      
      window.addEventListener('load', null, fadeEffect);
    </script>
  </body>
</html>