<section id="ProductContactInfoBlock" class="uk-width-1-2@s">
  <div class="uk-card uk-card-small uk-card-default">
    <div class="uk-card-header">
      <h3>Contact Information</h3>
    </div>
    <div class="uk-card-body" uk-grid>
      <div class="uk-width-1-1">
        <p><span uk-icon="icon: location"></span>
          <span class="uk-margin-small-left">{{ SiteTitle }}</span></br>
          {{ Address1 }},</br>
          {{ Address2 }},<br>
          {{ Address3 }}.</p>
        <p><span uk-icon="icon: receiver"></span>
            <a href="#" class="uk-link-text uk-margin-small-left">{{ SiteNumber }}</a></p>
        <p><span uk-icon="icon: mail"></span>
          <a href="#" class="uk-link-text uk-margin-small-left">{{ SiteEmail }}</a></p>
      </div>
       <!-- <div class="uk-width-2-3">
        <div class="uk-cover-container uk-height-medium">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2371.513434966028!2d-7.326440622187363!3d53.53074614527415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sie!4v1563567947836!5m2!1sen!2sie" frameborder="0" uk-cover></iframe>
        </div>
      </div> -->
    </div>
    <div class="uk-card-footer">
      <a href="#" class="uk-button uk-button-text">Find our Store on Google</a><span uk-icon="location"></span>
    </div>
  </div>
</section>