{#
/**
 * Block Name: Cover block
 *
 * This is the template that displays the cover block.
 */
#}

{% if is_preview %}
<link rel='stylesheet' id='uikit-css'  href='http://solarisblinds.wp/wp-content/themes/solaris-theme/assets/css/base.css' type='text/css' media='all' />
<script type='text/javascript' src='http://solarisblinds.wp/wp-content/themes/solaris-theme/assets/js/bundles/bundle.js'></script>
{% endif %}

<div id="{% if fields.if_colours_block_id == 'Yes' %}{{ fields.colours_block_id }}{% else %}colours-{{ block.id }}{% endif %}" class="{{ block.className }}">

  <!-- COLOURS -->
  <div class="uk-section uk-section-muted uk-padding-remove-top">
    <div class="uk-position-relative">
      <div class="uk-container uk-container-large">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h2 class="uk-text-uppercase">{{ fields.colours_title }}</h2>
            <hr class="uk-divider-small">
            <p>{{ fields.colours_description }}</p>
            <div class="uk-visible@m">
              <div class="uk-height-medium">
              </div>
            </div>
          </div>
          <div class="uk-card-footer">
            <a href="{{ fields.colours_link.colours_link_url }}" class="uk-button uk-button-text uk-text-uppercase">{{ fields.colours_link.colours_link_title }} <span uk-icon="chevron-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-container uk-container-expand fabrics-img-pullup uk-position-relative uk-margin-xlarge-bottom">
    <div class="uk-child-width-1-4@m uk-flex-middle uk-grid" uk-grid>
      <div>
        <div class="uk-background-image uk-background-cover uk-background-muted uk-height-medium uk-height-max-medium uk-width-large uk-flex uk-flex-center uk-flex-middle rmcc-box-shadow-small light-wrap uk-position-relative" style="background-image: url(/wp-content/themes/solaris-theme/assets/img/swatches/1.jpg);">
          <div class="uk-position-z-index uk-position-relative uk-text-center">
          <p class="uk-h4 uk-margin-remove uk-light uk-text-uppercase">Crush Fabrics</p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-background-image uk-background-cover uk-background-muted uk-height-medium uk-height-max-medium uk-width-large uk-flex uk-flex-center uk-flex-middle rmcc-box-shadow-small light-wrap uk-position-relative" style="background-image: url(/wp-content/themes/solaris-theme/assets/img/swatches/2.jpg);">
          <div class="uk-position-z-index uk-position-relative uk-text-center">
          <p class="uk-h4 uk-margin-remove uk-light uk-text-uppercase">Basel Perla Fabrics</p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-background-image uk-background-cover uk-background-muted uk-height-medium uk-height-max-medium uk-width-large uk-flex uk-flex-center uk-flex-middle rmcc-box-shadow-small light-wrap uk-position-relative" style="background-image: url(/wp-content/themes/solaris-theme/assets/img/swatches/3.jpg);">
          <div class="uk-position-z-index uk-position-relative uk-text-center">
          <p class="uk-h4 uk-margin-remove uk-light uk-text-uppercase">Plain Fabrics</p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-background-image uk-background-cover uk-background-muted uk-height-medium uk-height-max-medium uk-width-large uk-flex uk-flex-center uk-flex-middle rmcc-box-shadow-small light-wrap uk-position-relative" style="background-image: url(/wp-content/themes/solaris-theme/assets/img/swatches/4.jpg);">
          <div class="uk-position-z-index uk-position-relative uk-text-center">
          <p class="uk-h4 uk-margin-remove uk-light uk-text-uppercase">Coloured Blind Rails</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /COLOURS -->

</div>