{#
/**
 * Block Name: Cover block
 *
 * This is the template that displays the cover block.
 */
#}

{% if is_preview %}
{% endif %}

<div id="{% if fields.if_cta_block_id == 'Yes' %}{{ fields.cta_block_id }}{% else %}cta-{{ block.id }}{% endif %}" class="uk-background-muted rmcc-padding-topbottom8040 {{ block.className }}">

  <!-- {{ block.title }} -->
  <div class="uk-section uk-section-primary uk-background-center-center uk-position-relative uk-background-cover uk-background-fixed uk-light purple-wrap-blur rmcc-box-shadow-large" data-src="{% if fields.cta_background_image %}{{ Image(fields.cta_background_image).src('solaris-theme-featured-image') }}{% else %}{{ Image(options.site_default_image).src('ssolaris-theme-featured-image') }}{% endif %}" uk-img>
      <div class="uk-container uk-position-z-index uk-position-relative uk-text-center">

        <h2 class="uk-h1">{{ fields.cta_title }}</h2>
        
        <hr class="uk-divider-small">

        <p class="uk-text-lead uk-margin-medium-bottom">{{ fields.cta_description }}</p>
        
        <a href="{{ fields.cta_button.cta_button_url }}" title="{{ fields.cta_title }}" class="uk-button uk-button-primary uk-button-large">{{ fields.cta_button.cta_button_title }}</a>

      </div>
  </div>
  <!-- /{{ block.title }} -->

</div>