<section id="HeaderMobile" class="uk-hidden@m">
  <div class="uk-container uk-container-large">
    <nav class="uk-navbar" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-logo" title="Logo" href="{{ site.url }}"><img src="{{ custom_logo_url }}" alt="Logo"></a>
      </div>
      <div class="uk-navbar-right">
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"></a>
      </div>
    </nav>
  </div>
</section>
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide rmcc-offcanvas-border-left">
    <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
    <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
      <li class="uk-nav-header">Menu</li>
      {% for item in menu_mobile.get_items %}
        {% if item.get_children %}
          <li class="uk-parent {{ item.classes | join(' ') }}">
            <a href="#">{{ item.title }}</a>
            <ul class="uk-nav-sub">
              {% for child in item.get_children %}
                <li>
                  <a href="{{ child.get_link }}">{{ child.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="{{ item.classes | join(' ') }}">
            <a href="{{ item.get_link }}">{{ item.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="uk-nav-divider"></li>
    </ul>
    <div class="uk-margin">
      <form class="uk-search uk-search-default uk-width-1-1">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Search...">
      </form>
    </div>
  </div>
</div>
<!-- /OFFCANVAS -->