<div class="uk-card uk-card-small uk-card-body uk-card-default">
  <blockquote cite="#">
    <p class="uk-margin-small-bottom">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."</p>
  </blockquote>
  <p><span uk-icon="icon: location"></span>
    <span class="uk-margin-small-left">{{ SiteTitle }}</span></br>
    {{ Address1 }},</br>
    {{ Address2 }},<br>
    {{ Address3 }}.</p>
  <p><span uk-icon="icon: receiver"></span>
      <a href="#" class="uk-link-text uk-margin-small-left">{{ SiteNumber }}</a></p>
  <p><span uk-icon="icon: mail"></span>
    <a href="#" class="uk-link-text uk-margin-small-left">{{ SiteEmail }}</a></p>
</div>