<section id="HeaderMobile" class="uk-background-default uk-hidden@m">
  <div class="uk-container uk-container-large">
    <nav class="uk-navbar" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-logo" title="Logo" href="{{ site.url }}"><img data-src="{{ custom_logo_url }}" uk-img></a>
      </div>
      <div class="uk-navbar-right">
        <a id="MobileNavToggle" class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"></a>
      </div>
    </nav>
  </div>
</section>
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
  <div style="background-image: url({{ Image(options.site_default_image).src('solaris-theme-quotations-block-half-image') }});" class="uk-background-cover uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide uk-light uk-background-fixed purple-wrap-blur">
    <div class="uk-position-cover uk-overlay-primary"></div>
    <div>
      <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
      <ul class="uk-nav uk-nav-default uk-nav-parent-icon uk-position-z-index uk-position-relative" uk-nav="multiple: true">
        <li class="uk-nav-header">Menu</li>
        {% for item in menu_mobile.get_items %}
          {% if item.get_children %}
            <li class="uk-parent {{ item.classes | join(' ') }}">
              <a href="{{ item.get_link }}">{{ item.title }}</a>
              <ul class="uk-nav-sub">
                {% for child in item.get_children %}
                  <li>
                    <a href="{{ child.get_link }}">{{ child.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="{{ item.classes | join(' ') }}">
              <a href="{{ item.get_link }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="uk-nav-divider"></li>
        <!-- <ul class="uk-subnav uk-margin-small-top" style="margin-left:-15px;">
          <li><a href="#" uk-icon="icon: facebook"></a></li>
          <li><a href="#" uk-icon="icon: twitter"></a></li>
          <li><a href="#" uk-icon="icon: google"></a></li>
          <li><a href="#" uk-icon="icon: location"></a></li>
        </ul> -->
      </ul>
      <div class="uk-margin uk-position-z-index uk-position-relative">
        <form class="uk-search uk-search-default uk-width-1-1" role="search" method="get" action="{{site.url}}">
          <span class="uk-search-icon-flip" uk-search-icon></span>
          <input class="uk-search-input" type="search" placeholder="Search..." id="SearchMobile" name="s" autocomplete="off">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /OFFCANVAS -->