<section id="TopBarSection" class="uk-section uk-section-primary uk-section-xsmall rmcc-padding10 uk-light uk-visible@s">
  <div class="uk-container uk-container-large">
    <div class="">
      <div id="TopBarLeft" class="uk-float-left rmcc-margin-pull-left15">
      {% if top_bar_left %}
      	{{top_bar_left}}
      {% else %}
      	TopBar Left Widget Area.
      {% endif %}
      </div>
      <div id="TopBarRight" class="uk-float-right">
        <ul class="uk-subnav uk-subnav-divider uk-margin-remove">
          {% for item in menu_top.get_items %}
          <li class="{{ item.classes | join(' ') }}"><a title="{{ item.title }}" href="{{ item.get_link }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>