<!-- <div class="uk-grid">
  
  <div class="uk-width-auto">
    <img data-src="{{ post.thumbnail.src('solaris-theme-tiny-thumb') }}" height="80" width="80" alt="" uk-img>
  </div>
  
  <div class="uk-width-expand">
    <a title="{{post.title}}" href="{{post.link}}">{{post.title}}</a>
  </div>
  
</div> -->
<div class="uk-card uk-card-body" style="padding:10px 0;">
<div class="uk-flex-middle uk-margin-remove-top" uk-grid>
    <div class="uk-width-expand">
        <a class="uk-link-muted" title="{{post.title}}" href="{{post.link}}">{{post.title}}</a>
    </div>
    <div class="uk-width-auto uk-flex-first">
        <img data-src="{{ post.thumbnail.src('solaris-theme-tiny-tiny-thumb') }}" width="45" height="45" alt="" uk-img>
    </div>
</div>
</div>