<div class="item">
  <article id="post-{{post.ID}}" class="uk-article {{post.post_type}} {{ post.class }} post-type-{{post.post_type}}">
    <div class="outer uk-card">
      <div class="featured-image uk-card-media-right uk-cover-container">
        <div class="image avaz__image__cover avaz__ratio__square" data-src="{{ post.thumbnail.src('solaris-theme-block-image') }}" data-uk-img></div>
        <a href="#" class="link"></a>
      </div>
      <div class="inner uk-card-body">
        <div class="top">
          <h3 class="title uk-h4"><a href="#">GDPR: What is it & is it needed?</a></h3>
          <p class="description">Knowledge of the GDPR and these rules can prevent a business from losing data or facing fines and legal action</p>
        </div>
        <div class="bottom">
          <ul class="meta">
            <li class="meta-date">5th March 2019</li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>