<article id="post-{{post.ID}}" class="{{ post.class }}">
  <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        {% if post.get_thumbnail %}
         <img class="rmcc-border" data-src="3333332" width="537.500" alt="{{ post.thumbnail.alt }}" class="lazy" data-uk-img>
        {% endif %}
      </div>
      <div class="uk-card-body">
        <h2 class="uk-card-title"><a title="{{post.title}}" class="uk-link-reset" href="{{post.link}}">{{post.title}}</a></h2>
        <p class="uk-article-meta">Written on {{post.date | date}}. Posted in
         {% for category in post.categories %}
           {% if not loop.last %}
             <a href="{{ category.link }}">{{ category }}</a>,
           {% endif %}
           {% if loop.last %}
             <a href="{{ category.link }}">{{ category }}</a>
           {% endif %}
         {% endfor %}
        </p>
        <p>{{ post.preview.length(18).read_more('') }}</p>
        <a href="{{post.link}}" title="Read More" class="uk-button uk-button-primary">Read this Article</a>
      </div>
  </div>
</article>
<!-- /the post block -->